:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: light-dark(rgba(0, 0, 0, 0.87), rgba(255, 255, 255, 0.87));
  background-color: light-dark(rgb(219, 219, 219), rgb(36, 36, 36));

  @util size(100vw, 100vh);
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
